<div class="container">
    <h2>Welcome to {{region.name}}</h2>
<!--</div>
Temperature
<ul class="list-group" ng-repeat="temp in region.temperature">

    <li class="list-group-item">{{temp}}</li>
</ul>
Humidity
<ul class="list-group" ng-repeat="hum in region.humidity">

    <li class="list-group-item">{{hum}}</li>
</ul>-->

<div class="container-fluid">
    <img class="regionImage" ng-src="{{region.image}}" alt="Region Icon">
    <img class= "selectedCurrentAnimal.image" ng-src="{{animal.image}}">
</div>
</div>
<a ui-sref="theZoo">
    <button class="btn btn-primary">Home</button>