
/*.game-rules{
    background-color: white opacity 50%;
    background-image: url(/img/button.png);
    
}*/
.header{
    background: #416073 top center no-repeat;   
    height: 10%;
    margin-bottom:0;
}
.main-content{
    background: url('img/ZooMap.png') center no-repeat;
    background-size: cover;
    height: 900px;
    margin-top: 0px;
    margin-bottom:0px;
    padding-top: 0;
    padding-bottom:0;
    position: relative;
    text-align: center;
    font-family: 'Special Elite', cursive;
}
.header img{
   position: relative;
   height: 100%;
   display: block;
   margin: 0 auto 0 auto; 
}
#logo{
   height: 90%;
   padding-top:10px;
  
}

.progress{
    text-align: right;
}

.progress{
    margin-top: 10px;
    margin-bottom: 0px !important;
}
    
/*#board {    
    background: transparent url(/img/EmptyMap.png) no-repeat top center;
    background-size: 100%;  
    position: relative; 
<<<<<<< HEAD
}*/
 
=======
}

.environment{
    position: absolute;
}
#Australia{
     top: 20%;
    left: 42%;
}
#Australia img{
    height: 17%;
}
#Arctic{
    top: 0%;
    left: 17%;
} 
>>>>>>> c6e24257238bf89d4e779cebb6ce39ddd48ef744
.icons div{
    position: absolute; 
}
.icons img{
    height: 15%;
}

#Australia{
   top:25%;
   left:44%;
}
#Australia img{
    height: 16%;
}

#Arctic{
    top: 0%;
    left: 19%;
}
#Arctic img{
    height: 20%;
}

#Africa{
    top: 21%;
    left: 80%;
}
#Africa img{
    height: 17%;
}


#PettingZoo{
    top: 49%;
    left: 50%;
}
#PettingZoo img{
}
#PettingZoo2{
    top: 61%;
    left: 48%;
}
#PettingZoo2 img{

    height: 20%;
}

#Asia{
    top: 16%;

    left: 12%;
}
#Asia img{
    height: 20%;
}

#SouthAmerica{
    top: 15%;
    left: 61%;
}
#SouthAmerica img{
    height: 20%;
}
#NorthAmerica{
    top:1%;
    left: 50%;
}
#NorthAmerica img{
    height: 20%;
}

.cageCart{
    position: absolute;
    top: 60%;
    left: 26%;
    width: 100%;
    /*background: url(/img/cageCart.png) no-repeat top center;
    min-height: 200px;
    min-width: 200px;
    background-size: contain;*/
}
.cageCart img{
    height: 23%;
}

.animalButton{
    position: absolute;
     top:68%;
    left:1%;  
}
.animalButton img{
    height: 7%;
}

#button {
 font-size: 24px;
 top: 2%;
 left: 2%;
   }
   
.animal{
    display: inline-block;
        /*position: absolute;
        top: 1%;
        left: 107% */
   }


.modal-body{
  background-size: contain;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.regionImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img a{
    top: 10%;
    left: -50%;
}


/*

  *{
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    [ng-drag]{
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    [ng-drag]{
        width: 100px;
        height: 100px;
        background: rgba(255,0,0, 0.5);
        color:white;
        text-align: center;
        padding-top:40px;
        display: inline-block;
        margin:0 10px;
        cursor: move;
    }
    ul.draggable-objects:after{
        display: block;
        content:"";
        clear:both;
    }
    .draggable-objects li{
        float:left;
        display: block;
        width: 120px;
        height:100px;
    }
    [ng-drag].drag-over{
        border:solid 1px red;
    }
    [ng-drag].dragging{
        opacity: 0.5;
    }
    [ng-drop]{
        background: rgba(0,255,0, 0.5);
        text-align: center;
        width: 600px;
        height: 200px;
        padding-top:90px;
        display: block;
        margin:20px auto;
        position: relative;
    }
    [ng-drop].drag-enter{
        border:solid 5px red;
    }
    [ng-drop] span.title{
        display: block;
        position: absolute;
        top:50%;
        left:50%;
        width: 200px;
        height: 20px;
        margin-left: -100px;
        margin-top: -10px;
    }
    [ng-drop] div{
        position: relative;
        z-index: 2;
    }*/